{%extends 'web/dbase.html'%} {%load static%} 
{%block headers%}{{ form.media.css }} 

<style>
    .form-control {
        min-height: 10px;
        max-height: 40px;
        overflow-y: auto;
    }
</style>


{% endblock %}

<body>
    {%block body%}

    <!--================================-->
    <!-- Page Inner Start -->
    <!--================================-->
    <div class="page-inner">
        <!--================================-->
        <!-- Main Wrapper Start -->
        <!--================================-->
        <div id="main-wrapper">
            <!--================================-->
            <!-- Breadcrumb Start -->
            <!--================================-->

            <!--/ Breadcrumb End -->


            <!--Container fluid-->
            <br><br>
            <div id="content-wrapper">
                <div class="container-fluid upload-details">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-title">
                                <h6>Activities</h6>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="imgplace"></div>
                        </div>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="osahan-form">
                                <div class="row">
                                    <form method="POST" action="#">
                                        {% csrf_token %}
                                    <div class="col-lg-12">

                                        <!--================================-->
                                        <div class="col-md-12 col-lg-12">
                                            <div class="card mg-b-20">
                                                <div class="card-header">
                                                    <h4 class="card-header-title">
                                                        Enter the details
                                                    </h4>

                                                    <div class="card-header-btn">
                                                        <a href="" data-toggle="collapse" class="btn card-collapse" data-target="#collapse1" aria-expanded="true"><i
                                                                class="ion-ios-arrow-down"></i></a>
                                                        <a href="" data-toggle="refresh" class="btn card-refresh"><i
                                                                class="ion-android-refresh"></i></a>
                                                        <a href="" data-toggle="expand" class="btn card-expand"><i
                                                                class="ion-android-expand"></i></a>
                                                        <a href="" data-toggle="remove" class="btn card-remove"><i
                                                                class="ion-android-close"></i></a>
                                                    </div>
                                                </div>
                                                <div class="card-body collapse show" id="collapse1">
                                                    <div class="form-layout form-layout-1">
                                                        <div class="row mg-b-25">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="form-control-label active">Name
                                                                        <span class="tx-danger">*</span></label>
                                                                {{form.name}}</div>
                                                            </div>
                                                            <!-- col-4 -->

                                                            <!-- col-4 -->
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="form-control-label active">Location
                                                                        <span class="tx-danger">*</span></label>
                                                                    {{form.loc}}</div>
                                                            </div>

                                                            <!-- col-4 -->
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="form-control-label active">Price
                                                                        <span class="tx-danger">*</span></label>
                                                                    {{form.price}}</div>
                                                            </div>
                                                            <!-- col-4 -->

                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="form-control-label active">Service
                                                                        Type<span class="tx-danger">*</span></label>
                                                                    {{form.service}}</div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="form-control-label active">Render Tag
                                                                        <span class="tx-danger">*</span></label>
                                                                   {{form.render_tag}}</div>
                                                            </div>
                                                        </div>
                                                        <!-- row -->
                                                        <div class="form-layout-footer">
                                                            <button style="background-color:#ac0e41	; border-color: white;" class="btn btn-custom-primary">Add</button>

                                                        </div>
                                                        <!-- form-layout-footer -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/ Top Label Layout End -->

                                    </div>


                                    </form>
                                    <hr>

                                </div>
                            </div>
                        </div>
                        <!-- /.container-fluid -->


                        <div class="row row-xs clearfix">


                        </div>
                    </div>
                    <!--/ Main Wrapper End -->
                </div>

                <br><br><br><br><br><br><br>
                <!--/ Page Inner End -->
                <!--================================-->
                <!-- Page Footer Start -->
                <!--================================-->
                <footer class="page-footer">
                    <div class="pd-t-4 pd-b-0 pd-x-20">
                        <div class="tx-10 tx-uppercase">
                            <p class="pd-y-10 mb-0">Copyright&copy; 2019 | All rights reserved. | Developed By
                                <a href="http://sketchappsolutions.com" target="_blank">Sketch app</a></p>
                        </div>
                    </div>
                </footer>
                <!--/ Page Footer End -->
            </div>
            <!--/ Page Content End  -->
        </div>
        <!--/ Page Container End -->
        <!--================================-->
        <!-- Scroll To Top Start-->
        <!--================================-->
        <a href="" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
        <!--/ Scroll To Top End -->
        <!--================================-->


        <!--================================-->
        <!-- Footer Script -->
        <!--================================-->

        {%endblock%} {%block script%}
        {{ form.media.js }}

</body>
{% endblock %}