{%extends 'web/dbase.html'%} {%load static%} {%block headers%} {% endblock %}


<body>
    {%block body%}


    <!--================================-->
    <!-- Page Inner Start -->
    <!--================================-->
    <div class="page-inner">
        <!--================================-->
        <!-- Main Wrapper Start -->
        <!--================================-->
        <div id="main-wrapper">
            <!--================================-->
            <!-- Breadcrumb Start -->
            <!--================================-->

            <!--/ Breadcrumb End -->


            <!--Container fluid-->
            <br><br>
            <div id="content-wrapper">
                <div class="container-fluid upload-details">
                    <div class="row">
                        <div class="col-lg-12">

                        </div>

                        <div class="col-lg-12  text-center">
                            <h4 style="font-weight: 600; color:#333;"><i class="fas fa-exclamation-circle"></i> Error
                            </h4>
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                    {% endfor %}
                            </ul>
                            {% endif %}
                            <br>
                           </div>

                    </div>
                    <hr>
                    <div class="row">

                        <!-- /.container-fluid -->

                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <div class="row row-xs clearfix">
                            <!--================================-->

                        </div>
                    </div>
                    <!--/ Main Wrapper End -->
                </div>
                <!--/ Page Inner End -->
                <br><br><br><br><br><br>
                <!--================================-->
                <!-- Page Footer Start -->
                <!--================================-->
                <footer class="page-footer">

                </footer>
                <!--/ Page Footer End -->
            </div>
            <!--/ Page Content End  -->
        </div>
        <!--/ Page Container End -->
        <!--================================-->
        <!-- Scroll To Top Start-->
        <!--================================-->
        <a href="" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
        <!--/ Scroll To Top End -->
        <!--================================-->

        <!--================================-->

        <!--================================-->
        <!-- Footer Script -->
        <!--================================-->
        {%endblock%} {%block script%}

</body>

{% endblock %}